Package: cryptomines-blockchain-cli
Version: {{ CHIA_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Kopalnie Krypto <kontakt@kopalniekrypto.pl>
Description: Cryptomines Blockchain
 Cryptomines Blockchain
 